/* .app{
  margin: 2%
} */
a {
	font-weight: 500;
	color: #2c1320;
	text-decoration: inherit;
}
a:hover {
	color: #5f4b66;
}

.header {
	background-color: #cecece;
}

.profilePic {
	width: 5%;
	border-radius: 50%;
	border: #2c1320 2px;
}

.loggedin {
	display: flex;
	justify-content: space-between;
  width: 100%;
}
.profileInfo {
	display: flex;
  justify-content: end;
}

.logIn {
  text-align: center;
}

h1 {
	text-align: center;
	font-size: 400%;
	text-shadow: black 10px;
}

.catNav {
	text-align: center;
}

.searchParams {
	display: flex;
}
#dropdown-basic-button {
	background-color: #5f4b66;
	border: #5f4b66;
	color: #d5ddff;
}

.catButton {
	margin: 1%;
}
.highlightedcatButton {
	margin: 1%;
	background-color: #5f4b66;
	color: #d5ddff;
}
.highlightedcatButton:hover {
	border-color: #2c1320;
	color: #2c1320;
}

.flexItem {
	margin: 2%;
}

.vote {
	display: flex;
  align-items: baseline;
}

.articlePage {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; 
  align-items: flex-start;
}

.articleTitle {
	align-self: stretch;
	width: 100%;
}

.articleBody{
  margin: 2%;
}

.articleButtons {
	display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: baseline;
}

.articleViewComments {
	margin: 5%;
}

.byLine{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: #5f4b66;
  color: #cecece;
}

.randomArticle {
	grid-column: span 2;
}
.resultsFlex {
	display: grid;
	/* grid-template-columns: repeat(4, 1fr); */
	grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #5f4b66;
	color: #5f4b66;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.articleImage {
		width: 100%;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.articleImage {
		width: 50%;
		height: 50%;
		float: left;
		margin: 2%;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.articleImage {
		float: left;
		margin: 2%;
	}
}

